@import "gestalt/dist/gestalt.css";
          * { margin: 0; padding: 0;}
          body, html, #root { height: 100%; }


          body {
            overflow: hidden; /* Prevents scrollbars during animation */
          }
/* 
          .skeleton {
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
          }

          .shimmer {
            content: "";
            position: static;
            top: 0;
            left: 0;
            width: 200%;
            height: 300px;
            background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0)
            );
            animation: shimmer 2s infinite linear;
          }
          
          @keyframes shimmer {
            0% {
              transform: translateX(-100%);
            }
            100% {
              transform: translateX(100%);
            }
          }
          
           */

           @keyframes shimmer {
            0% {
              background-position: -150% 0;
            }
            100% {
              background-position: 150% 0;
            }
          }
          
          .skeleton {
            background: linear-gradient(
              to right,
              lightGray 25%,
              #e0e0e0 50%,
              lightGray 75%
            );
            background-size: 200% 100%;
            animation: shimmer 1.5s linear infinite;
          }

          #skeleton {
            background: linear-gradient(
              to right,
              green 25%,
              #e0e0e0 50%,
              green 75%
            );
            background-size: 200% 100%;
            animation: shimmer 1.5s linear infinite;
          }
          