@import "gestalt/dist/gestalt.css";
          * { margin: 0; padding: 0;}
          body, html, #root { height: 100%; }


          body {
            overflow: hidden; /* Prevents scrollbars during animation */
          }

          .skeleton {
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
          }

          .skeleton::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 100%;
            background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0)
            );
            animation: shimmer 2s infinite linear;
          }
          
          @keyframes shimmer {
            0% {
              transform: translateX(-100%);
            }
            100% {
              transform: translateX(100%);
            }
          }
          
          